<div class="container">
    <form action="" id="form">
        <div class="form">
            <h1>Registro</h1>
            <div class="group">
                <input type="text" name="" id="name" required>
                <label for="">Nombre</label>
            </div>
            <div class="group">
                <input type="email" name="" id="email" required>
                <label for="">Email</label>
            </div>
            <div class="group">
                <input type="password" name="" id="password" required>
                <label for="">Password</label>
            </div>

            <button type="submit">Registrarse</button>
        </div>
    </form>
</div>