.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: var(--dark-green);
}

form {
    margin: 50px 0;
}

.form {
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    border: 2px solid var(--dark-green);
    min-width: 300px;
    box-shadow: 0px 0px 50px rgba(7, 37, 11, .2);
}

input {
    background: var(--link-light-color);
    border:none;
    color: var(--dark-green);
    width: 100%;
    padding: 10px 10px 10px 5px;
    border-radius: 0;
    border-bottom: 2px solid var(--link-color);
}

input:focus {
    border: 0;
    outline: 0;
    background-color: var(--link-light-color);
    color: var(--dark-green);
}

button {
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    color: var(--light-green);
    background-color: var(--link-color);
    border-radius: 0;
}