<div class="container">
    <form action="" id="form">
        <div class="form">
            <h1>Login</h1>
            <div class="group">
                <input type="email" name="" id="email" required #email>
                <label for="">email</label>
            </div>
            <div class="group">
                <input type="password" name="" id="urlPhoto">
                <label for="">password</label>
            </div>

            <button (click)= userLogin(email.value) type="submit">Login</button>
        </div>
    </form>
</div>