<header>

    <div class="container">
        <div class="title">MyBooks App</div>
        <nav *ngIf="!userService.logging" class="menu">
            <a routerLink="home" class="item-menu">Home</a>
            <a routerLink="registro" class="item-menu">Registro</a>
            <a routerLink="login" class="item-menu">Login</a>
        </nav>
        <nav *ngIf="userService.logging" class="menu">
            <a routerLink="home" class="item-menu">Home</a>
            <a routerLink="books" class="item-menu">Libros</a>
            <a routerLink="perfil" class="item-menu">Perfil</a>
        </nav>
    </div>

</header>
