header {
    background-color: var(--dark-green);
    height: 80px;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 25%;
    font-size: 1.5rem;
    color: var(--primary-color)

}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.item-menu {
    margin-left: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--light-green);
}