<div class="wrapper">

    <div class="formAddBook">
        <div class="search">
            <input type="search" placeholder="Buscar por id del Libro" #id_book>
            <button (click)=searchById(id_book.value)>Buscar</button>
        </div>
        <h1>Añadir Libro</h1>
        <form>
            <input type="text" id="title" value="" placeholder="titulo" #title>
            <input type="text" id="autor" value="" placeholder="autor" #author>
            <input type="text" id="price" value="" placeholder="precio" #price>
            <input type="text" id="photo" value="" placeholder="foto" #photo>
            <button (click)=addNewBook(title.value,author.value,price.value,photo.value)>Añadir</button>
        </form>
    </div>

    <div *ngIf= "arrayBooks.length > 0" class="container">
        
        <ng-container *ngFor="let book of arrayBooks">

            <div class="card-book">
                <div class="containerClose">
                    <span (click)=deleteCard(book.id_book) class="close">x</span>
                </div>
                <div class="image">
                    <img src="{{book.photo}}" alt="">
                </div>
                <div class="data-card">
                    <h1 class="title">{{book.title}}</h1>
                    <p class="author"><strong>Autor:</strong> {{book.author}}</p>
                    <p class="description">{{book.description}}</p>
                    <p class="price"><strong>Precio:</strong> {{book.price}}€</p>
                    <p class="id_book"><strong>sku:</strong> {{book.id_book}}</p>
                    <button class="buy">Comprar</button>
                </div>
                
            </div>
            
        </ng-container>
        
    
    </div>
    
    <div *ngIf="arrayBooks.length === 0" class="empty" class="container">
        
        <h1>No se encontraron resultados</h1>

    </div>

</div>
