/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --primary-color: #C9EDDC;
    --secondary-color: #89B6A5;
    --dark-green: #506E5F;
    --light-green: #dbf2e6;
    --link-color: #4C3B4D;
    font-size: 1rem;
}